.grid-container{
    width: 270px;
    /* height: 300px; */
    background-color: var(--darkgrey);
    border: 2px solid var(--darkgrey);
    border-radius: 0.75rem;
}

.grid-container:hover{
    border-color: var(--green);
    transition: all 0.3s;
}

.grid-container-red:hover{
    border-color: var(--red);
    transition: all 0.3s;
}

.info-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin: 1.5rem;
}
.coin-logo{
    height: 3rem;
    width: 3rem;
}

.name-col{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.coin-symbol{
    color: var(--white);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    margin: 0;
}

.coin-name{
    color: var(--grey);
    text-transform: capitalize;
    font-weight: light;
    font-size: 0.9rem;
    margin: 0;
}

.chip-flex{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    margin: 0.5rem 1rem;
}

.price-chip{
    border: 2px solid var(--green);
    border-radius: 1rem;
    padding: 0.35rem 1.2rem;
    text-align: center;
    font-weight: 550;
    font-size: 0.9rem;
    color: var(--green);
    min-width: 70px;
}

.price-chip:hover, 
.icon-chip:hover{
    background-color: var(--green) !important;
    color: var(--white) !important;
    transition: all 0.3s;
}

.icon-chip{
    border: 2px solid var(--green);
    border-radius: 50%;
    height: 1.8rem !important;
    width: 1.8rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    color: var(--green);
}

.chip-red{
    border: 2px solid var(--red) !important;
    color: var(--red) !important;
}

.chip-red:hover{
    background-color: var(--red) !important;
    color: var(--white) !important;
    transition: all 0.3s;
}

.info-container{
    margin: 1rem 1.5rem;
}

.coin-price{
    color: var(--green);
    font-size: 1rem;
    font-weight: 500;
}

.total-volume{
    color: var(--grey);
    font: 1rem;
    font-weight: 500;
}

@media only screen and (max-width: 550px){
    .coin-logo{
        height: 2.5rem;
        width: 2.5rem;
    }
    .price-chip{
        min-width: 50px;
        padding: 0.3rem 0.8rem;
    }
}
